@import './styles/index.scss';

.App {
  height: 100%;
}

#root {
  height: 100vh;
  background: #000;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  z-index: 123;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $themeColorPrimary;
  border-radius: 12px;
  z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

.fade-enter {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}
